<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success my-2">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes" onMouseOver="this.style.backgroundColor='#F8F8F8'" onMouseOut="this.style.backgroundColor='#FFFFFF'">
      <div class="float-left">
        <h4 class="list-group-item-heading">{{recipe.name}}</h4>
        <p class="list-group-item-text">{{recipe.description}}</p>
      </div>
      <span class="float-right" style="margin-left:200px">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height:60px;">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
<app-recipe-item></app-recipe-item>